<div class="p-3">
    <div class="card">
        <div class="card-body">
            <div class="card-body">
                <input type="text" [(ngModel)]="keyword">
                <button class="btn btn-outline-success ms-1" (click)="searchProduct()">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <table class="table">
                <thead>
                    <th>Name:</th><th>Price:</th><th>Checked:</th>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products$ | async">
                        <td>{{p.name}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <button (click)="checkproduct(p)" type="button" class="btn btn-outline-success">
                                <i [class] = "p.checked? 'bi bi-check':'bi bi-circle'"></i>
                            </button> 
                        </td>
                        <td>
                            <button (click)="deleteProduct(p)" type="button" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </button> 
                        </td>
                           
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>